---
import { filterByRole, sortedinvite } from "../../../backend/backend.mjs";
import Cardinvite from "../../components/Cardinvite.astro";
import Layout from "../../layouts/Layout.astro";
const invite = Astro.props;
import Picture from "astro/components/Picture.astro";
import { addinvite } from '../../../backend/backend.mjs';
import Button from "../../components/Button.astro";
import ImagePB from "../../components/ImagePB.astro";
import { Image } from "astro:assets";
import affichefilmloveanimal from "../../assets/img/affichefilmloveanimal.avif";
import affichefilmanimalprotection from "../../assets/img/affichefilmanimalprotection.avif";






/*Filtrage d’une liste via une route dynamique permettant d’afficher uniquement les éléments correspondants, comme par exemple l’affichage des films par catégorie ou par langue.*/

let message = "";
let invites = [];

if (Astro.request.method === "POST") {
    const data = await Astro.request.formData();
    const role = data.get("genre") as string;

    if (role) {
        invites = await filterByRole(role);

        if (invites.length === 0) {
            message = `Aucun invités trouvé pour le rôle "${role}".`;
        } else {
            message = `Liste des invités pour le rôle "${role}"`;
        }
    } else {
        message = "Veuillez sélectionner un rôle.";
    }
} else {
    invites = await sortedinvite();
    message = "Liste des invités pour tous les rôles";
}
---

<Layout>
    <div>
        <h2 class="text-center p-5"> <strong>Invités du festival Miaullywood – 27 au 29 juin</strong></h2>
        <p class="ml-5 text-center m-8">Rencontrez nos invités d’exception : réalisateurs passionnés, acteurs talentueux et créateurs inspirants. Ils partageront avec vous leurs expériences, leurs œuvres et leur vision du cinéma. Un moment d’échange unique au cœur de notre festival, où passion et créativité prennent vie !</p>
       

    <!-- //Création des formulaires pour saisir et modifier des données. -->

    <h2 class="text-lg m-8 text-center" ><strong>Ajouter des idées d'invité </strong> </h2>
    {message && <p class="text-red-600">{}</p>}
    <form action="/invite/add" method="POST" enctype="multipart/form-data">
        <input
            type="text"
            name="Nom"
            placeholder="Nom de l'invité"
            required
            class=" mt-2 p-2 border border-gray-300 rounded-md"
        />
      <input
      type="text"
      name="Prénom"
      placeholder ="Prénom de l'invité"
      required
        class=" mt-2 p-2 border border-gray-300 rounded-md"
      
      />
      <input 
      type="text"
      name="Biographie"
      placeholder="Biographie de l'invité"
        class=" mt-2 p-2 border border-gray-300 rounded-md"
      />
     
      
        <input type="file" name="images" />
    
        <button class=" m-8 p-3 border-2 border-gray-300 rounded-lg bg-white shadow-md" type="submit">Ajouter</button>
    </form>  

    <!-- Filtre par rôle -->

    <form method="POST">
     

        <select class="m-15" name="role" id="role">
            <option value="">Sélectionnez un rôle</option>
            <option value="Réalisateur">Réalisateur</option>
            <option value="Acteur">Acteur</option>
        </select
        >
        <input class=" p-2 border-2 border-gray-300 rounded-lg bg-white shadow-md" type="submit" value="Filtrer par rôle" />
    </form>

    <!-- Affichage d’une liste de collection -->

    <div class="flex justify-center list-none flex-wrap gap-5 pt- 15 pb-40">
      
      <h2 class="m-8">Tous les invités</h2> 
        {invites.map((invite) => <Cardinvite {...invite} />)}
     
    </div>




  
</Layout>

