<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>À propos</title>
        <link rel="stylesheet" href="/src/css/style.css" />
        <script type="module" src="/src/js/script.js"></script>
    </head>

    <Header />
    <div>
        <h3>À propos</h3>
        <p>
            Le Festival Miaullywood est un festival unique en son genre,
            mélangeant le cinéma avec une ambiance câline, inspiré des chats. Un
            concept innovant, permettant de sensibiliser le public sur la
            maltraitance animale tout en explorant les présentations de films de
            réalisateurs émergents.De plus, ce festival intègrera les dernières
            tendances technologiques, dont la réalité virtuelle permettant de
            profiter du festival à la maison.
        </p>
        <img
            class="apropos__image"
            src="assets/Images/medias/imagecinémarideau.avif"
            alt="Image d'un cinéma "
        />
    </div>
    <hr />
    <div>
        <h2>Historique</h2>
        <p>
            Le Festival des Chats et du Cinéma a vu le jour en réponse à une
            envie de célébrer deux passions universelles : le cinéma et les
            chats. Créé en 2024 à Belfort, ce festival unique mêle l'art
            cinématographique à l’univers fascinant des félins, en mettant
            l’accent sur l’innovation, l’accessibilité et la diversité des
            œuvres présentées. Son objectif principal est de promouvoir des
            créations originales, tout en sensibilisant le public à la richesse
            artistique et culturelle du cinéma, dans une ambiance conviviale et
            décontractée.
        </p>
    </div>
    <hr />
    <div>
        <h2>Équipe</h2>
        <p>Le festival repose sur une équipe dynamique et passionnée :</p>
        <ul>
            <li>
                Organisateurs : Un collectif de jeunes cinéphiles et
                professionnels de l'événementiel, mené par une équipe créative
                spécialisée dans les arts visuels et le cinéma.
            </li>
            <li>
                Équipe technique : Des techniciens de projection, graphistes, et
                responsables de la communication, tous engagés à offrir une
                expérience immersive et de qualité.
            </li>
            <li>
                Bénévoles : Des passionnés mobilisés pour accueillir le public
                et assurer le bon déroulement des activités.
            </li>
        </ul>
        <img
            class="equipe__image"
            src="assets/Images/medias/imagecinémaavec7personnes.avif"
            alt="Image d'un cinéma"
        />
    </div>
    <hr />
    <div>
        <h2>Charte</h2>
        <p>Le festival s’articule autour de trois valeurs fondamentales :</p>
        <ul>
            <li>
                Créativité : Mettre en avant des courts-métrages, animations et
                documentaires innovants, explorant des thèmes variés liés aux
                chats et au cinéma.
            </li>
            <li>
                Accessibilité : Offrir des événements accessibles à tous, que ce
                soit les cinéphiles aguerris, les familles ou les curieux.
            </li>
            <li>
                Engagement : Soutenir un cinéma respectueux des valeurs
                éthiques, en collaborant avec des réalisateurs engagés et des
                organisations promouvant l'inclusion et le respect des animaux.
            </li>
        </ul>
    </div>

    <Footer />


</html>
