@import "tailwindcss";


@theme {
    --font-sand: "Quicksand";
    --font-open: "Open Sans";

    --color-bleu: oklch(33.6% 0.036 235.27);
    /*#243a47*/
    --color-sable: oklch(91.37% 0.0157 86.43);
    /*#e7e2d7*/
    --color-bordeau: oklch(53.9% 0.1013 24.91);
    /*#a15550*/
    --color-marron: oklch(67.1% 0.0993 58.76);
    /*#c38655*/
    --color-blanc: oklch(100% 0 0);
    /*#ffffff*/
    --color-noir: oklch(0% 0 0);
    /*#000000*/

    --my-grid: repeat(12, minmax(0, 64px));

    --heading1-font: "Quicksand" 40px;
    --heading2-font: "Quicksand" 32px;
    --body1-font: "Open Sans" 20px;
    --heading3-font: "Quicksand" 16px;
    --body2-font: "Open Sans" 15px;
    --small-font: "Open Sans" 13px
}


@layer base {
    body {
        @apply text-(length:--body1)
    }

    h1 {
        @apply text-(length:--heading1) lg:text-4xl
    }

    h2 {
        @apply text-(length:--heading2) lg:text-2xl
    }

    h3 {
        @apply text-(length:--heading3)
    }

}


@layer components {
    .grille {
        @apply px-6 lg:grid lg:grid-cols-(--my-grid) lg:justify-center lg:gap-12;
    }

    .noscroll {
        overflow: hidden;
    }
}