---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import IconFacebook from "../assets/icones/icon_facebook.svg";
import IconInstagram from "../assets/icones/icon_instagram.svg";
import IconTwitter from "../assets/icones/icon_twitter.svg";
import IconYoutube from "../assets/icones/icon_youtube.svg";
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---

<Layout>
    <main>
        <div class="space-y-4 p-4 max-w-lg mx-auto">
            <label class="block">
                <span class="">Prénom</span>
                <input
                    type="text"
                    class="mt-1 block w-full rounded-lg border border-black-300 p-2"
                    placeholder="Votre prénom"
                />
            </label>

            <label class="block">
                <span class="">Nom</span>
                <input
                    type="text"
                    class="mt-1 block w-full rounded-lg border border-black-300 p-2"
                    placeholder="Votre nom"
                />
            </label>

            <label class="block">
                <span class="">E-mail</span>
                <input
                    type="email"
                    class="mt-1 block w-full rounded-lg border border-black-300 p-2"
                    placeholder="Votre e-mail"
                />
            </label>

            <label class="block">
                <span class="">Numéro de téléphone</span>
                <input
                    type="tel"
                    class="mt-1 block w-full rounded-lg border border-black-300 p-2"
                    placeholder="Votre numéro de téléphone"
                />
            </label>

            <label class="block">
                <span class="">Adresse postale</span>
                <input
                    type="text"
                    class="mt-1 block w-full rounded-lg border border-black-300 p-2"
                    placeholder="Votre adresse"
                />
            </label>

            <label class="block">
                <span class="">Votre demande</span>
                <textarea
                    class="mt-1 block w-full rounded-lg border border-black-300 p-2"
                    rows="4"
                    placeholder="Votre message"></textarea>
            </label>
        </div>
        <div class="flex justify-center m-5">
            <Button text="Envoyer" />
        </div>
        <hr class="py-2 bg-[var(--color-bleu)]" />
        <h2 class="text-center p-5">Contact :</h2>
        <ul class="ml-5 m-5 text-center">
            <li class="ml-5 pb-2 lg:items-center">
                2 Rue Louis Pergaud, 25300 Pontarlier
            </li>

            <li class="ml-5 pb-2 lg:items-center">03 84 54 27 27</li>

            <li class="ml-5 pb-2 lg:items-center">
                miaullywood@agglo-pontarlier.fr
            </li>
        </ul>
    </main>
</Layout>
