---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Facebook from '../assets/icones/icon_facebook.svg'
import Instagram from '../assets/icons/IconInstagram.svg'
import Twitter from '../assets/icons/IconTwitter.svg'

---
<Header/>
<div >
    <p>Prénom </p>
    <svg  xmlns="http://www.w3.org/2000/svg" width="400" height="100"
        viewBox="0 0 400 100">
        <rect  width="400" height="50" rx="20" ry="2" fill="white " />
    </svg>
    <p>nom</p>
    <svg  xmlns="http://www.w3.org/2000/svg" width="400" height="100"
        viewBox="0 0 400 100">
        <rect  width="400" height="50" rx="20" ry="2" fill="white " />
    </svg>
    <p>e-mail</p>
    <svg  xmlns="http://www.w3.org/2000/svg" width="400" height="100"
        viewBox="0 0 400 100">
        <rect  width="400" height="50" rx="20" ry="2" fill="white  " />
    </svg>
    <p>Numéro de téléphone</p>
    <svg  xmlns="http://www.w3.org/2000/svg" width="400" height="100"
        viewBox="0 0 400 100">
        <rect class="contact__boite" width="400" height="50" rx="20" ry="2" fill="white " />
    </svg>
    <p>Adresse postale</p>
    <svg  xmlns="http://www.w3.org/2000/svg" width="400" height="100"
        viewBox="0 0 400 100">
        <rect  width="400" height="50" rx="20" ry="2" fill="white" />
    </svg>
    <p>Votre demande</p>
    <svg  xmlns="http://www.w3.org/2000/svg" width="400" height="100"
        viewBox="0 0 400 100">
        <rect class= width="400" height="100" rx="20" ry="2" fill="white" />
    </svg>
    <button aria-label="Envoyer ma demande ">Envoyer </button>
    <h3 >Contact

        2 Rue Louis Pergaud, 25300 Pontarlier

        03 84 54 27 27

        miaullywood@agglo-pontarlier.fr</h3>


</div>

<div >
    <li>
        <a href="https://facebook.com" aria-label="Facebook"><Facebook /></a>
      </li>
      <li>
        <a href="https://instagram.com" aria-label="Instagram"><Instagram /></a>
      </li>
      <li>
        <a href="https://twitter.com" aria-label="Twitter"><Twitter /></a>
      </li>
</div>
</main>


<Footer/>