---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import Carrousel from '../components/Carrousel.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---
<Header/>

<Layout>
	<h1 class="font-sand">Miaullywood </h1>

	<Button href="/conservatoire" text="En savoir plus"/>
<Carrousel></Carrousel>
</Layout>
<Footer/>