---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Carrousel from "../components/Carrousel.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import imageyoga from "../assets/img/imageyoga.avif";
---

<Layout>
	<body>
		<h2 class="text-center p-5">
			<strong
				>Bienvenue sur le site du festival Miaullywood : Quand le cinéma
				et les chats se rencontrent !</strong
			>
		</h2>

		<h2 class="text-center p-2 mb-5">
			<strong>Du 27 au 29 juin 2025</strong>
		</h2>

		<div>
			<hr class="py-2 bg-[var(--color-bleu)]" />
			<h2 class="ml-5 mb-2 lg:items-center">Au programme :</h2>
			<ul class="p-3" role="list">
				<li class="ml-5 pb-4">
					- Présentations de films de réalisateurs émergents
				</li>
				<li class="ml-5 pb-4">
					- Stands tenus par des associations de protection animale
				</li>
				<li class="ml-5 pb-4">
					- Ateliers créatifs pour petits et grands
				</li>
				<li class="ml-5 pb-4">- Séances de yoga de relaxation</li>
			</ul>
			<div class="flex justify-center">
				<Button href="/programme" text="Programme" />
			</div>
		</div>
		<div>
			<Image
				src={imageyoga}
				alt="Image d'un chat et du cinéma "
				class="w-90 m-10 rounded-lg"
				loading="lazy"
			/>
			<p class="ml-5 mb-5">
				Participez à des ateliers interactifs, des discussions autour du
				cinéma, et des animations surprises pour petits et grands !
			</p>
			<hr class="py-2 bg-[var(--color-bleu)]" />

			<!-- <Carrousel></Carrousel> -->

			<hr />
			<div>
				<h2 class="ml-5 mb-2 lg:items-center">Billeterie :</h2>
				<ul>
					<li
						class="ml-5 pb-4 justify-center lg:justify-center lg:items-center"
					>
						Pass journée 10€<br />
					</li>

					<li class="ml-5 pb-4 lg:justify-center lg:items-center">
						Pass 3 jours 25€
					</li>
				</ul>

				<div class="flex justify-center m-2">
					<Button href="/info" text="Prendre mes tickets " />
				</div>
			</div>
			<hr />
			<div>
				<!-- <Carrousel></Carrousel> -->
				<hr class="py-2 bg-[var(--color-bleu)]" />
				<h2 class="ml-5 mb-2 lg:items-center">Nos invités</h2>
				<img
					src="assets/Images/medias/imagealainchabat.avif"
					alt="Photo Alain Chabat"
				/>
				<div class="flex justify-center m-2">
					<Button href="/invites" text="Tous nos invités  " />
				</div>
			</div>
			<hr />
			<div>
				<hr class="py-2 bg-[var(--color-bleu)]" />
				<h2 class="ml-5 mb-2 lg:items-center">Infos pratiques</h2>
				<p class="ml-5 mb-2 lg:items-center">Où ?</p>
				<p class="ml-5 mb-2 lg:items-center">
					Pontarlier Le lieu exact du festival le cinéma Olympia
				</p>
				<img
					class="infos-pratiques__image"
					src="assets/Images/medias/imagecinémapontarlier.avif"
					alt="Photo cinéma Pontarlier "
				/>
				<div class="flex justify-center m-2">
					<Button
						href="/info"
						text="Voir la page infos pratiques  "
					/>
				</div>
			</div>
			<hr />
			<div>
				<hr class="py-2 bg-[var(--color-bleu)]" />
				<h2 class="ml-5 mb-2 lg:items-center">Nos partenaires</h2>

				<ul
					class="text-center"
					role="list"
					aria-label="Partenaires du festival"
				>
					<li class="m-3">Office de Tourisme du Doubs</li>
					<li class="m-3">Ville de Besançon</li>
					<li class="m-3">Association Chats sans Toit</li>
					<li class="m-3">Association SPA de Montbéliard</li>
					<li class="m-3">La Brasserie du Chat Noir</li>
					<li class="m-3">Zooplus</li>
					<li class="m-3">Chocolaterie des Montagnes</li>
					<li class="m-3">Les Amis du Cinéma</li>
					<li class="m-3">Shellac</li>
					<li class="p-1">Cinécapsule</li>
				</ul>
			</div>
		</div>
	</body>
</Layout>
