---
import { Picture } from "astro:assets";
const film = Astro.props;
import ImagePB from "./ImagePB.astro";
---

<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--     
        <style>
            .carousel-container {
                position: relative;
                width: 300px;
                overflow: hidden;
                margin: auto;
            }
            .carousel {
                display: flex;
                transition: transform 0.5s ease-in-out;
            }
            .carousel-item {
                min-width: 100%;
                max-width: 100%;
                object-fit: cover;
            }
            .carousel-btn {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background: rgba(0, 0, 0, 0.5);
                color: white;
                border: none;
                cursor: pointer;
                padding: 10px;
            }
            .prev-btn {
                left: 10px;
            }
            .next-btn {
                right: 10px;
            }
        </style> -->
    </head>

    
    <div>
        <button >◀</button>
        <div >
            {ImagePB && (
                <Picture 
                  pictureAttributes={{ class: classPicture }} 
                  imgAttributes={{ class: classImg }}
                  inferSize={true} 
                  formats={['avif', 'webp']} 
                  alt={alt || "Image"} 
                  src={imageUrl} 
                />
              )}
            {film.Affiche && <img class=" size-64 m-10 rounded-lg" src={film.Affiche} alt="Affiche" />}
        </div>
        <button class=" next-btn">▶</button>
    </div>
    
