---
import { Picture } from "astro:assets";
const film = Astro.props;
import ImagePB from "./ImagePB.astro";
import { Image } from "astro:assets";
import ImgFlow from "../assets/img/flow.avif";
import ImgKedi from "../assets/img/kedi.jpeg";
import ImgUnevie from "../assets/img/uneviedechat.webp";
import ImgLechat from "../assets/img/lechatpotte.webp";
---

<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>

    <div>
        <button>◀</button>
        <div>
            <Image
                src={ImgFlow}
                alt="Logo"
                class="h-16 w-16 lg:h-16 lg:w-16"
                loading="lazy"
            />
            <Image
                src={ImgKedi}
                alt="Logo"
                class="h-16 w-16 lg:h-16 lg:w-16"
                loading="lazy"
            />
            <Image
                src={ImgUnevie}
                alt="Logo"
                class="h-16 w-16 lg:h-16 lg:w-16"
                loading="lazy"
            />
            <Image
                src={ImgLechat}
                alt="Logo"
                class="h-16 w-16 lg:h-16 lg:w-16"
                loading="lazy"
            />
        </div>
        <button class="next-btn">▶</button>
    </div>
</html>
