---
import IconFacebook from '../assets/icones/icon_facebook.svg';
import IconInstagram from '../assets/icones/icon_instagram.svg';
import IconTwitter from '../assets/icones/icon_twitter.svg';
import IconYoutube from '../assets/icones/icon_youtube.svg';
import IconLogo from '../assets/icones/logo.png';


---


<footer class="grille space-y-6  bg-color-marron py-16 px-6 text-white">
    <a class="block" href="/" aria-label="Accueil">
  <IconLogo  />
    </a>
    
    <nav class="space-y-3">
      <h3>Menu</h3>
      <ul>
        <li><a href="/billetterie">Billetterie"</a></li>
        <li><a href="/contact">Contact </a></li>
        <li><a href="/apropos">À propos </a></li>
      </ul>
    </nav>
  
  
   
  
    <div>
      <h3>Nous suivre</h3>
      <ul  class="flex gap-4">
        <li>
            <a href="https://youtube.com" aria-label="youtube">
              <IconYoutube class="fill-white"/>
            </a>
          </li>
          <li>
            <a href="https://twitter.com" aria-label="twitter">
              <IconTwitter class="fill-white"/>
            </a>
          </li>
          <li>
            <a href="https://instagram.com" aria-label="instagram">
              <IconInstagram class="fill-white"/>
            </a>
          </li>
        
        <li>
          <a href="https://facebook.com" aria-label="facebook">
            <IconFacebook class="fill-white"/>
          </a>
        </li>
     
      
      </ul>
    </div>
  </footer>